@charset "utf-8";

@keyframes updown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }
}

@keyframes updown2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

}

@keyframes moving {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: -1920px center;
    }
}